.#{$ns}FormulaEditor {
  overflow: visible;
  max-width: 100%;
  box-sizing: content-box;

  &-header {
    width: 100%;
    height: px2rem(40px);
    line-height: px2rem(40px);
    padding-left: px2rem(10px);
    box-sizing: border-box;
    background: #f3f8fb;
  }

  &-editor {
    min-height: px2rem(238px);
    max-height: px2rem(320px);
    height: auto;
    border: var(--Form-input-borderWidth) solid var(--Form-input-borderColor);
  }

  &.is-error &-editor {
    border-color: var(--Form-input-onError-borderColor);
  }

  &.is-focused &-editor {
    border-color: var(--Form-input-onFocused-borderColor);
  }

  &-settings {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    max-height: px2rem(350px);
    margin: 0 -5px;

    > div {
      flex: 1;
      padding: 0 5px;
      display: flex;
      flex-direction: column;

      > h3 {
        padding: 10px 0;
        margin: 0;
        flex-shrink: 0;
      }

      > div {
        flex: 1;
        min-height: 0;
      }
    }
  }

  .cm-field,
  .cm-func {
    border-radius: 2px;
    color: #fff;
    margin: 0 1px;
    padding: 0 2px;
  }
  .cm-field {
    background: #007bff;
  }
  .cm-func {
    background: #17a2b8;
  }
}

.#{$ns}FormulaFuncList {
  display: flex;
  flex-direction: column;

  & > &-searchBox {
    display: flex;
    width: auto;
    flex-shrink: 0;
    margin-bottom: px2rem(8px);
  }

  &-columns {
    flex: 1;
    min-height: 0;
    overflow: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    > div:first-child {
      min-width: 200px;
      flex-shrink: 0;
    }
  }
  &-funcItem {
    padding: 0 10px;
    cursor: pointer;

    &.is-active {
      color: var(--primary);
    }
  }
  &-groupTitle {
    padding: 5px 0;
    background: transparent;
  }
  &-groupBody {
    > div {
      padding: 5px 0;
    }
  }
  &-funcDetail {
    padding: 10px 20px;
  }
}

.#{$ns}FormulaPicker {
  &-icon {
    margin-left: auto;
  }
}
